/*****************************************************************
  Nav
*****************************************************************/
.nav {
  text-align: center;
  background-color: #fff; }

/*****************************************************************
  NAV MAIN
*****************************************************************/
.main-nav {
  font-family: Interstate;
  font-size: 1rem;
  text-transform: uppercase; }

.main-nav a {
  color: #ff551f;
  letter-spacing: 0.09375em;
  text-decoration: none;
  display: inline-block;
  padding: 0.4375em 0;
  margin: 0 0.625em;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: transparent;
  -webkit-transition: border-bottom-color 0.15s linear;
  -moz-transition: border-bottom-color 0.15s linear;
  transition: border-bottom-color 0.15s linear; }

.main-nav a:hover,
.main-nav a.active {
  border-bottom-color: #ff551f; }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: 10; }

/*****************************************************************
  NAV MOBILE
*****************************************************************/
.nav-mobile {
  font-size: 3.375rem;
  font-family: "Interstate Condensed";
  line-height: 1;
  padding-top: 0.44444em;
  padding-bottom: 0.44444em;
  border-top: 7px solid #ff6d39;
  border-bottom: 7px solid #ff6d39; }

.nav-mobile a {
  display: block;
  margin-top: 0.2963em; }

.nav-mobile a:first-child {
  margin-top: 0; }

  /*****************************************************************
  NAV MAIN
*****************************************************************/
.main-nav {
  font-family: Interstate;
  font-size: 1rem;
  text-transform: uppercase; }

.main-nav a {
  color: #ff551f;
  letter-spacing: 0.09375em;
  text-decoration: none;
  display: inline-block;
  padding: 0.4375em 0;
  margin: 0 0.625em;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: transparent;
  -webkit-transition: border-bottom-color 0.15s linear;
  -moz-transition: border-bottom-color 0.15s linear;
  transition: border-bottom-color 0.15s linear; }

.main-nav a:hover,
.main-nav a.active {
  border-bottom-color: #ff551f; }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: 10; }

  /*****************************************************************
  NAV MOBILE
*****************************************************************/
.nav-mobile {
  font-size: 3.375rem;
  font-family: "Interstate Condensed";
  line-height: 1;
  padding-top: 0.44444em;
  padding-bottom: 0.44444em;
  border-top: 7px solid #ff6d39;
  border-bottom: 7px solid #ff6d39; }

.nav-mobile a {
  display: block;
  margin-top: 0.2963em; }

.nav-mobile a:first-child {
  margin-top: 0; }

.active {
  pointer-events: none;
  cursor: default; }

body {
  padding-top: 10px;
  padding-bottom: 40px;
  background: url(../images/pink.jpg) top center repeat;
}

.navbar-inverse {
  background-color: #F4C3C6;
  border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
color: black;
background-color: #F4C3C6;
}

.navbar-inverse .navbar-brand {
color: red;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: black;
background-color: transparent;
}

.table-hover > tbody > td:hover > td,
.table-hover > tbody > td:hover > th {
  background-color: #F4E4E5;
}

/*****************************************************************
  APPT. FORM & MAP
*****************************************************************/

div.row {

}

.map {

}

/*****************************************************************
  FEEDBACK
*****************************************************************/

form h1 {
  text-align: center;
}

form h3 {
  border: 1px dashed black;
}

.fb_question {
  padding: 10px;
}

.fb_response {
  padding: 10px;
}

.pull-right a {
  margin: 20px 25px 0 0;
}

.pull-right b {
  margin: 20px 110px 0 0;
}

/*****************************************************************
  FOOTER
*****************************************************************/

footer {
  background-color: #F4C3C6;
  padding: 20px;
  margin: 40px 0 20px 0;
  overflow: auto;
  text-align: center;
}