/*****************************************************************
  Nav
*****************************************************************/
.nav {
  text-align: center;
  background-color: #fff; }

/*****************************************************************
  NAV MAIN
*****************************************************************/
.main-nav {
  font-family: Interstate;
  font-size: 1rem;
  text-transform: uppercase; }

.main-nav a {
  color: #ff551f;
  letter-spacing: 0.09375em;
  text-decoration: none;
  display: inline-block;
  padding: 0.4375em 0;
  margin: 0 0.625em;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: transparent;
  -webkit-transition: border-bottom-color 0.15s linear;
  -moz-transition: border-bottom-color 0.15s linear;
  transition: border-bottom-color 0.15s linear; }

.main-nav a:hover,
.main-nav a.active {
  border-bottom-color: #ff551f; }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: 10; }

/*****************************************************************
  NAV MOBILE
*****************************************************************/
.nav-mobile {
  font-size: 3.375rem;
  font-family: "Interstate Condensed";
  line-height: 1;
  padding-top: 0.44444em;
  padding-bottom: 0.44444em;
  border-top: 7px solid #ff6d39;
  border-bottom: 7px solid #ff6d39; }

.nav-mobile a {
  display: block;
  margin-top: 0.2963em; }

.nav-mobile a:first-child {
  margin-top: 0; }

  /*****************************************************************
  NAV MAIN
*****************************************************************/
.main-nav {
  font-family: Interstate;
  font-size: 1rem;
  text-transform: uppercase; }

.main-nav a {
  color: #ff551f;
  letter-spacing: 0.09375em;
  text-decoration: none;
  display: inline-block;
  padding: 0.4375em 0;
  margin: 0 0.625em;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: transparent;
  -webkit-transition: border-bottom-color 0.15s linear;
  -moz-transition: border-bottom-color 0.15s linear;
  transition: border-bottom-color 0.15s linear; }

.main-nav a:hover,
.main-nav a.active {
  border-bottom-color: #ff551f; }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: 10; }

  /*****************************************************************
  NAV MOBILE
*****************************************************************/
.nav-mobile {
  font-size: 3.375rem;
  font-family: "Interstate Condensed";
  line-height: 1;
  padding-top: 0.44444em;
  padding-bottom: 0.44444em;
  border-top: 7px solid #ff6d39;
  border-bottom: 7px solid #ff6d39; }

.nav-mobile a {
  display: block;
  margin-top: 0.2963em; }

.nav-mobile a:first-child {
  margin-top: 0; }

.active {
  pointer-events: none;
  cursor: default; }

body {
  padding-top: 10px;
  padding-bottom: 40px;
  background: url(../images/pink.jpg) top center repeat;
}

.navbar-inverse {
  background-color: #F4C3C6;
  border-color: black;
}

.navbar-inverse .navbar-nav>li>a {
color: black;
background-color: #F4C3C6;
}

.navbar-inverse .navbar-brand {
color: red;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: black;
background-color: transparent;
}

.table-hover > tbody > td:hover > td,
.table-hover > tbody > td:hover > th {
  background-color: #F4E4E5;
}

/*****************************************************************
  CAROUSEL
*****************************************************************/

.carousel-caption img {
  max-width: 5em;
  padding: 10px;
}


/*****************************************************************
  APPT. FORM & MAP
*****************************************************************/

h1 {
  text-align: center;
  margin: 0 0 20px 0;
}

.appt_question {
  padding: 10px;
  font-weight: bold;
}

.appt_answer {
  padding: 10px;
}

td iframe {
  display: block;
  margin: auto;
}

#google_form iframe {
  max-width: 100%;
  padding: 20px;
  margin: 10px;
}

.map h3 {
  padding: 20px;
}



/*****************************************************************
  FEEDBACK
*****************************************************************/

div table tr td h3 {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.fb_question {
  padding: 10px;
  font-weight: bold;
}

.fb_response {
  padding: 10px;
}

.pull-right a {
  margin: 20px 25px 0 0;
}

.pull-right b {
  margin: 20px 110px 0 0;
}

.social-popout {
  height: 32px;
  width: 32px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img {
  border-radius: 50%;
  margin: 8px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img:hover {
  margin: 0px;
  box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: fixed;
    background-color: #F3C3C6; 
    border-top: 1px;
    border-top-style: solid;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
 
footer .container p {
  float: right;
}


